<div class="banner">
    <div class="banner-content">
      <h1>Cocktail Factory</h1>
      <p id="paragraph-size">Create Outstanding Cocktails <br> In an easy way.</p>
      <%= link_to "Create yours now", new_cocktail_path, class: "btn-lg btn-primary"%>
    </div>
  </div>
<div class="container-cocktail">
  <div class="title">
    <h1>Cocktails</h1>
  </div>
      <div class="row">
    <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class= "card-overlay">
            <% if cocktail.photo.url.nil? %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%), url('https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-0.3.5&s=168d2e520f42299d9a648e79d8d85d62&auto=format&fit=crop&w=1950&q=80');">
            <% else  %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%), url('<%= cocktail.photo %>');">
              <% end %>
            <div class="cocktail-name">
              <h3><%= cocktail.name %></h3>
            </div>
            <div class= card-button>
              <%= link_to "See details", cocktail_path(cocktail), class: "btn-lg btn-primary"%>
            </div>
          </div>
        </div>
         </div>
<% end %>
      </div>
    </div>

