.title {
  text-align: center;
}

.card{
width: 400px;
border: 4px solid white;
min-height: 250px;
padding-top: 5px;
background-size: cover;
margin: 10px;
border-radius: 2px;

}

.card h3 {
  color: white;
  text-shadow: 1px;
}

.container-cocktail {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card-button {
  padding-top: 115px;
  padding-left: 10px;
}

.cocktail-name {
  padding-left: 10px;
}





