@media screen and (max-width:420px) {

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }


}

@media screen and (max-width:375px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }


}

@media screen and (max-width:360px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }


}

@media screen and (max-width:320px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }


}



