.cocktail-box {
  display: flex;
  justify-content: space-around;
}
.cocktail-picture {
  border: 3px solid white;
  margin: 20px;
}

.add-button {
  margin-bottom: 10px;
}

.cocktail-content p {
  padding-left: 10px;
}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width:420px) {
  .cocktail-box {
    display: block;
  }
  .cocktail-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }


}

@media screen and (max-width:375px) {
  .cocktail-box {
    display: block;
  }
  .cocktail-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }


}

@media screen and (max-width:360px) {
  .cocktail-box {
    display: block;
  }
  .cocktail-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }


}

@media screen and (max-width:320px) {
  .cocktail-box {
    display: block;
  }
  .cocktail-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }


}

